.auth-box {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  width: 400px;
  background-color: rgba(238, 232, 232, 0.801);
  position: relative;
  height: 60vh;
  overflow-x: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.form-login,
.form-register {
  position: absolute;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  transition: all 1.5s;
}

.text-auth {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-right: 20px;
}

.btn-aut {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.btn-aut button {
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-aut button ~ button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Form-auth {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 20px;
  background-color: white;
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 50px;
}

.input-box input {
  border: none;
  padding: 10px 5px;
  width: calc(100% - 10px);
  margin-left: 5px;
  border-left: 1px solid #ccc;
}

.input-box input:focus {
  border: none;
  outline: none;
}

.btn-form-auth {
  margin: 0 6px;
}

.btn-form-auth button {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 5px 15px;
  border-radius: 10px;
}
